body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Teko', sans-serif;
    /* background-image: url("/Users/hiro/GA/projects/Love-Hate-Project-1/Images/cute background.gif");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); */
    
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    margin-left: 12rem;
}

.loveandhate {
    height: 150px;
    width: 420px;
    /* border: 5px solid red; */
    background-image: url("/Users/hiro/GA/projects/Love-Hate-Project-1/Images/pink background .png");
    background-position: bottom;
    margin-bottom: 16rem;
    margin-left: -15rem;  
}

.gameObjective{
    height: 270px;
    width: 420px;
    background-color: #bc62b8;
    margin-top: -1rem;
    margin-left: -15rem;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding-left: -1rem;
}

.peep {
    margin-left: 7rem;
}

.written{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin: 14px;
    color: #3e1045;
}

.infohead {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #C1F0F4;
}

#logo {
    margin-bottom: 4rem;
    margin-left: -7rem;
}

#w2{
    margin-top: -1rem;
}
#w3 {
    margin-top: -1.5rem;
}

#head1 {
    color: #bc62b8;
}
#head2 {
    padding-top: -5rem;
}
#head3 {
    margin-top: .5rem;
}

#gamearea {

    height: 640px;
    width: 512px;
    /* background-color: black; */
    background-image: url("/Users/hiro/GA/projects/Love-Hate-Project-1/Images/forest_tiles.png");
    border: 7px inset #bc62b8;
    margin-left: -7rem;

}

#pointsTally {
    margin-left: -7rem;
}

.column2 {
    margin-right: 15rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: cover;
    opacity: .5;
}

.alertCat{
    height: 200px;
    width: 200px;
    margin-left: -30rem;
    margin-right: -5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #3e1045;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#GameOpeningaudio {
    position: absolute;
    margin-top: 57rem;
    margin-right: 100rem;
    opacity: 0.3;
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: -20rem;
}

.controls {
    height: 350px;
    width: 400px;
    background-position: center;
    z-index: 2;
    background-image: url("/Users/hiro/GA/projects/Love-Hate-Project-1/Images/controls.png");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: -25rem;
    margin-bottom: -10rem;
    opacity: .8;

}

.winner{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.winboard {
    /* background-color: #3e1045; */
    height: 650px;
    width: 300px;
    margin-left: 1rem;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boardbutton{
    position: absolute;
    margin-top: 37rem;
    margin-left: 1rem;
}

.restartB {
  /* background-color: #EA4C89; */
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  /* color: #FFFFFF; */
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;

}